body {
  font-family: "Mali", cursive;
  background-color: #4662de;
}

.land-page {
  height: 100vh;
  width: 100vw;
}

.background-image {
  width: 99vw;
  height: 99vh;
  position: absolute;
  top: 0;
  background-image: url("https://as2.ftcdn.net/v2/jpg/01/16/33/35/1000_F_116333525_J49YKLKGFaPd2tMGPBdgF2SNizXMyUn7.jpg");
  opacity: 0.06;
  background-size: cover;
  z-index: 0;
  --fa-beat-scale: 1.007;
}

.logo {
  width: 390px;
  height: 68px;
  left: 0;
  top: 0;
  margin-left: -5px;
  /* -webkit-filter: drop-shadow(0px 5px 5px #3c3b3b); */
  filter: drop-shadow(0px 2px 3px #797878);
}

.land-page-body {
  height: calc(100% - 160px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.user-info-card {
  border: none;
  width: 350px;
  height: 194px;
  background-color: rgb(253, 250, 250);
  box-shadow: 2px 2px 4px 2px #777676;
  border-radius: 2px !important;
}

.avatar-card {
  border: none;
  width: 230px;
  height: 194px;
  background-color: rgb(253, 250, 250);
  /* box-shadow: 2px 2px 4px 2px #777676; */
  border-radius: 2px !important;
}

.avatar-image {
  height: 100%;
  object-fit: cover;
}

.avatar-image-arrow-div {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.pointer {
  cursor: pointer;
}

.width-50 {
  width: 50%;
}

.line {
  border-top: 1px solid #676765;
}

.line.how-to-play,
.line.about {
  width: 0%;
  transition: width 0.6s;
}

.info-icon {
  padding-left: 8px;
  padding-right: 2px;
  padding-top: 19px;
  cursor: pointer;
}

.info-icon.cross {
  cursor: pointer;
  padding: 5px;
}

.info-icon:hover {
  scale: 1.1;
}

.info-icon.cross:hover {
  scale: 1.05;
}

.input-tag {
  width: 100%;
  outline: none;
  box-shadow: 0px 1px 6px 0.5px #ccccc9;
  border: 1px solid rgb(227, 224, 224);
  border-radius: 3px;
  font-size: 16px;
  padding: 6px 10px;
  background-color: #fafaf9;
  color: #0f0f10fc;
  font-weight: 500;
}

.input-tag:focus {
  scale: 1.02;
  box-shadow: 0px 1px 6px 1px #a9a9a7;
}

.button-btn {
  border: 1px solid #c1c1bf;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 40px;
  margin-top: 10px;
  background-color: #f5f7f7;
}

.button-btn:hover {
  outline: none;
  scale: 1.01;
  box-shadow: 0px 2px 8px -1px #acacab;
  background-color: #fbfdfd;
  font-weight: 600;
}

.button-btn:disabled {
  box-shadow: none;
  scale: 1;
  font-weight: 400;
  pointer-events: none;
  opacity: 0.5;
}

.button-btn:active {
  scale: 0.95;
}

.button-btn:hover .line.how-to-play,
.button-btn:hover .line.about {
  width: 100%;
}

/* ==================================================== Game Board =================================================== */

.board-body {
  height: calc(100vh - 90px);
}

.board {
  height: min(500px, calc(100% - 10px));
  width: 70% !important;
  background-color: white;
  z-index: 5;
  cursor: crosshair;
}

.canvas {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
  height: 100% !important;
}

.chat-box {
  height: min(500px, calc(100% - 10px));
  width: 26%;
  background-color: white;
  z-index: 5;
}

.color-palette {
  width: 55px;
  height: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  padding: 8px;
  gap: 10px;
  overflow-x: hidden;
}

.color-palette::-webkit-scrollbar {
  width: 3px;
}

.color-palette::-webkit-scrollbar-track {
  background-color: transparent;
}

.color-palette::-webkit-scrollbar-thumb {
  background-color: #a0a0a1;
  border-radius: 50px;
  border: 1px solid transparent;

  /* background-clip: content-box; */
}

.color-palette::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.color-palette-item {
  width: 38px;
  height: 38px !important;
  flex-basis: 38px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-palette-item:hover {
  scale: 1.05;
}

.palette-item-child {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.yellow {
  background-color: rgb(255, 255, 58);
}

.red {
  background-color: rgb(253, 54, 54);
}

.green {
  background-color: rgb(7, 249, 7);
}

.blue {
  background-color: rgb(54, 54, 253);
}

.sky-blue {
  background-color: rgb(132, 228, 245);
}

.grey {
  background-color: rgb(154, 152, 152);
}

.black {
  background-color: black;
}

.line-width {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-width:hover {
  scale: 1.05;
}

.width-20 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
}

.width-15 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}

.width-10 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
}

.width-5 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: black;
  margin-bottom: 5px;
}

.doodle {
  width: 90px;
  height: 100px;
  background-color: white;
  /* padding: 5px; */
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.doodle-head {
  height: 60%;
  width: 60%;
  background-color: yellowgreen;
  border-radius: 50%;
  /* display: flex;
  flex-direction: column; */
  position: relative;
}

.doodle-body {
  height: 40%;
  width: 110%;
  background-color: yellowgreen;
  border-radius: 50% 50% 0 0;
}

.doodle-eyes {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.eye {
  width: 25%;
  height: 50%;
  border-radius: 50%;
  background-color: black;
}

.eye:nth-child(1) {
  transform: rotate(-20deg);
}

.eye:nth-child(2) {
  transform: rotate(20deg);
}

.doodle-mouth {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.mouth {
  width: 50%;
  height: 10%;
  background-color: transparent;
  border-radius: 50%;
  border-bottom: 4px solid black;
}
